/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
.ixyt-form{
}

.ixyt-form input{
    margin:  15px 0px;
}
.ixyt-form select{
    width: 100%;
    margin: 15px 0px;
}

#ixyt-shortcode{
    background-color: #ffffc3;
}